@using FicShare.Structures.Enums

<div class="transition-all ease-in-out duration-300 alert p-0.5" id="alertbox" @onmouseover="OnMouseEnter" @onmouseout="OnMouseLeave">
    <div class="flex items-center text-white text-base font-semibold px-4 py-3 rounded-md relative @_alertColor"
         role="alert">

         @if (AlertItem is not null)
         {
            @switch (AlertItem.AlertType)
            {
                case AlertType.Error:
                    <span class="material-symbols-rounded mr-2">
                        error_outline
                    </span>
                    break;

                case AlertType.Warn:
                    <span class="material-symbols-rounded mr-2">
                        warning_amber
                    </span>
                    break;

                case AlertType.Success:
                    <span class="material-symbols-rounded mr-2">
                        check
                    </span>
                    break;

                default:
                    <span class="material-symbols-rounded mr-2">
                        info
                    </span>
                    break;
            }

            <p>@AlertItem.Message</p>
        }
        else
        {
            <p>Error: No alert data.</p>
        }

        <span class="absolute top-0 bottom-0 right-0 px-4 py-3 closealertbutton cursor-pointer" @onclick="@CloseAlert">
            <span class="material-symbols-rounded">
                close
            </span>
        </span>
    </div>
</div>
