﻿@typeparam T

<table class="table-fixed border border-slate-400 w-full">
    <thead>
        <tr class="border-slate-400 border text-white bg-slate-700">
            @if (HasSelectionBoxes && SelectionData is not null)
            {
                <th class="w-4">
                    <CheckRadioInput Label="" @bind-Value="SelectionData.SelectedAll" />
                </th>
            }

            @TableHeader("border-e border-slate-400 last:border-0 p-1 px-2")
        </tr>
    </thead>
    <tbody>
        @if (Items is not null)
        {
            var _counter = -1;
            foreach (var i in Items)
            {
                _counter++;
                var item = i;

                <tr class="border border-slate-400 even:bg-slate-100 hover:bg-slate-200">
                    @if(HasSelectionBoxes && SelectionData is not null)
                    {
                        var c = _counter;
                        <td class="w-4">
                            <CheckRadioInput Label="" @bind-Value="SelectionData[c]" />
                        </td>
                    }

                    @TableRow((item, "border-e border-slate-400 last:border-0 p-1 px-2"))
                </tr>
            }
        }
    </tbody>
</table>
