﻿@inherits CustomInputBase<bool>
 
<label class="inline-flex items-center mt-5 @CssClass">
    @if (Radio)
    {
        <InputRadio id="@Id"
                    placeholder="Option Name"
                    Value="Value"
                    ValueExpression="() => Value"
                    ValueChanged="OnValueChangedInternalAsync"
                    disabled="@DisableEdits" />
    }
    else
    {
        <InputCheckbox id="@Id"
                       placeholder="Option Name"
                       Value="@Value"
                       ValueExpression="() => Value"
                       ValueChanged="OnValueChangedInternalAsync"
                       disabled="@DisableEdits" />
    }
    <span class="ml-2">@ChildContent</span>
</label>