﻿@inherits CustomInputBase<DateTime>

<InputGroup Label="@Label" AdditionalCss="@CssClass">
    <InputDate class="input-control peer"
                 placeholder="Option Name"
                 TValue="DateTime"
                 Value="@Value"
                 ValueExpression="() => Value"
                 ValueChanged="OnValueChangedInternalAsync"
                 disabled="@DisableEdits" />
</InputGroup>
