﻿@inherits CustomInputBase<IBrowserFile>

<InputGroup Label="@Label" AdditionalCss="@CssClass">
    <InputFile AdditionalAttributes="GetAdditionalAttributes()" OnChange="OnChangeAsync" />
</InputGroup>
