﻿<div class="relative mt-5 w-full @AdditionalCss">
    @ChildContent
    <label for="option-name"
           class="absolute left-0 -top-7 text-slate-800 dark:text-slate-300 text-sm peer-placeholder-shown:text-base
			peer-placeholder-shown:text-slate-600 dark:peer-placeholder-shown:text-slate-300 peer-placeholder-shown:top-1.5 
            peer-placeholder-shown:left-2 peer-focus:left-0 peer-focus:-top-7 transition-all peer-focus:text-slate-800 
            dark:peer-focus:text-slate-300">
        @Label
    </label>
</div>
