﻿@inherits CustomInputBase<TValue>
@typeparam TValue

<InputGroup Label="@Label" AdditionalCss="@CssClass">
    <InputSelect id="property-selector"
                 class="input-control peer"
                 Value="_labelValue"
                 ValueChanged="OnLabelValueChangedAsync"
                 ValueExpression="() => _labelValue"
                 TValue="string">

        @foreach (var item in Items)
        {
            var lbl = LabelFunction.Invoke(item);
            <option value="@lbl">@lbl</option>
        }
    </InputSelect>
</InputGroup>
