﻿@inherits CustomInputBase<T>
@typeparam T

<div class="grid grid-cols-4 grid-flow-row gap-2">
    <TextInput @bind-Value="_input" Label="@Label" class="col-span-3" />
    <FormButton ButtonType="ButtonType.Info" OnClickAsync="OnAddAsync">Add Item</FormButton>

    <div class="col-span-4">
        @for (int i = 0; i < Value.Count; i++)
        {
            var index = i;
            <span class="inline-flex rounded-lg bg-slate-200 text-black px-1 py-0.5 m-1 dark:bg-slate-600 dark:text-white">
                <span class="pr-1">@Value[index]</span>
                <GoogleIcon Icon="delete" IconCss="bg-red-400 rounded-lg text-black"
                    OnClickAsync="async () => await OnRemoveAsync(index)"/>
            </span>
        }
    </div>
</div>
