﻿@inherits CustomInputBase<T>
@typeparam T

<InputGroup Label="@Label" AdditionalCss="@CssClass">
    <InputNumber class="input-control peer"
                 placeholder="Option Name"
                 TValue="T"
                 Value="@Value"
                 ValueExpression="() => Value"
                 ValueChanged="OnValueChangedInternalAsync"
                 disabled="@DisableEdits" />
</InputGroup>
