﻿@inherits CustomInputBase<string>

<InputGroup Label="@Label" AdditionalCss="@CssClass">
    <InputText Value="@Value"
               ValueExpression="() => Value"
               ValueChanged="OnValueChangedInternalAsync"
               AdditionalAttributes="@GetAdditionalAttributes()" />
</InputGroup>