﻿@rendermode InteractiveServer

<AuthorizeView>
    <Authorized>
        <p>You are not authorized to see this resource. Go <a href="/">home</a>.</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to see this resource. <a @onclick="OnLoginClickedAsync">Login</a> or go <a href="/">home</a>.</p>
    </NotAuthorized>
</AuthorizeView>