@using Microsoft.AspNetCore.Components.Web
@using FicShare.UI.Main

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />

    <link rel="stylesheet" href="_content/FicShare.UI/css/app.min.css" />
    <link rel="icon" type="image/png" href="_content/FicShare.UI/favicon.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <HeadOutlet />
</head>
<body class="h-screen relative">
    <UIRouter />

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/FicShare.UI/dist/site.bundle.js"></script>
    <script src="_content/FicShare.UI/dist/httpInterop.bundle.js"></script>
    <script src="_content/FicShare.UI/dist/monaco/app.js"></script>
    <script src="_content/Cloudcrate.AspNetCore.Blazor.Browser.Storage/Storage.js"></script>
</body>
</html>