﻿@inherits GoogleIconBase

@if (Label is null)
{
    <span class="material-symbols-rounded @IconCss @(OnClick is not null || OnClickAsync is not null ? "cursor-pointer" : "")"
        @onclick="OnClickInternalAsync">
        @Icon
    </span>
}
else
{
    <div class="flex flex-grow items-center @(OnClick is not null || OnClickAsync is not null ? "cursor-pointer" : "")"
         @onclick="OnClickInternalAsync">
        <span class="material-symbols-rounded @IconCss">@Icon</span>
        <p class="ml-2 @LabelCss">@Label</p>
    </div>
}