﻿@typeparam TValue

<div class="flex flex-col" @attributes="AdditionalAttributes">
    @if (Sortable)
    {
        int counter = 0;
        int index = 0;
        @foreach (var item in Value)
        {
            var o = item;
            int c = counter++;
            int i = index++;

            <div class="flex flex-row gap-1 group">
                <div class="invisible group-hover:visible w-8 h-8 rounded-lg
                            bg-util_action text-util_action_t disabled:bg-slate-600"
                     disabled="@(c == 0)">
                    <button class="material-symbols-rounded"
                    @onclick="() => OnSortUp(c)">
                        expand_less
                    </button>
                </div>

                <div class="list-item">
                    @ChildContent(new(o, c, i))
                </div>

                <div class="invisible group-hover:visible w-8 h-8 rounded-lg
                            bg-util_action text-util_action_t disabled:bg-slate-600"
                     disabled="@(c == Value.Count - 1)">
                    <button class="material-symbols-rounded"
                    @onclick="() => OnSortDown(c)">
                        expand_more
                    </button>
                </div>
            </div>
        }
    }
    else if (Paginate)
    {
        int index = 0;
        @for (int counter = UseDynamicGet ? 0 : PaginationIndex; counter < (UseDynamicGet ? Value.Count : PaginationMaxIndex); counter++)
        {
            var o = Value[counter];
            int c = counter;
            int i = index++;

            <div class="list-item">
                @ChildContent(new(o, c, i))
            </div>
        }
        
        <div class="flex-grow"></div>

        <Pagination 
            Count="_itemCount"
            ItemsPerPage="MaxItemsPerPage"
            Index="PaginationIndex"
            OnIndexChangedAsync="OnPaginationChangedAsync"
        />
    }
    else
    {
        int index = 0;
        @for (int counter = 0; counter < Value.Count; counter++)
        {
            var o = Value[counter];
            int c = counter;
            int i = index++;

            <div class="list-item">
                @ChildContent(new(o, c, i))
            </div>
        }
    }
</div>

