﻿<NavLink href="" ActiveClass="bg-fsp-red" class="hover:bg-fsp-orange px-2 py-1">
    <p class="inline-flex items-center">
        @* 
            TODO: your implementation.
        <span class="pl-1">@Route.Page?.Name</span> *@
    </p>
</NavLink>
