﻿<div class="flex flex-row bg-fsp-red-dark gap-2 text-white z-10">
    @*
        TODO: populate nav items somehow.
        <NavMenuItem />
    *@

    <div class="flex-grow"></div>

    <ContextMenu Identifier="theme-context-menu" class="flex flex-col justify-center">
        <Element>
            @if (ScopedDataBus.Theme == "light")
            {
                const string theme = "dark";
                <GoogleIcon Icon="dark_mode" IconCss="select-none w-fit h-fit" OnClickAsync="async () => await SetThemeAsync(theme)" />
            }
            else if (ScopedDataBus.Theme == "dark")
            {
                const string theme = "light";
                <GoogleIcon Icon="light_mode" IconCss="select-none w-fit h-fit" OnClickAsync="async () => await SetThemeAsync(theme)" />
            }
        </Element>
        <Popup>
            <button class="rounded-lg bg-fsp-red text-white px-2 py-1"
                @onclick="async () => await SetThemeAsync(null)">
                Use OS Preference
            </button>
        </Popup>
    </ContextMenu>

    <div class="px-3"></div>

    @if (ScopedDataBus.CurrentUserClaims is null)
    {
        <a href="@LoginString" @onclick="Login" @onclick:preventDefault class="hover:bg-fsp-orange px-2 p-1">
            Login
        </a>
    }
    else
    {
        <div class="px-2 p-1">
            @*TODO: put actual username.*@
            Username Goes Here
        </div>
        <a href="@LogoutString" @onclick="Logout" @onclick:preventDefault class="hover:bg-fsp-orange px-2 p-1">
            Logout
        </a>
    }
</div>