﻿@{
    const string disabledCss = "disabled:bg-slate-200 disabled:hover:border-green-200 disabled:active:bg-slate-200 disabled:hover:shadow-none";
}

@if (string.IsNullOrWhiteSpace(ConfirmationMessage))
{
    <button class="@ButtonCss @disabledCss @CssClass text-black" disabled="@Disabled"
            @onclick="OnClickInternalAsync">
        @ChildContent
    </button>
}
else if (!string.IsNullOrWhiteSpace(ConfirmationMessage) 
    && string.IsNullOrWhiteSpace(ConfirmationTypePrompt))
{
    <ContextMenu Identifier="button-confirm" disabled="@Disabled" OpenOnLeftClick="true">
        <Element>
            <FormButton ButtonType="ButtonType" Disabled="Disabled">
                @ChildContent
            </FormButton>
        </Element>
        <Popup>
            <button class="@ConfirmButtonCss @disabledCss" disabled="@Disabled"
                @onclick="OnClickInternalAsync">
                @ConfirmationMessage
            </button>
        </Popup>
    </ContextMenu>
}
else if (!string.IsNullOrWhiteSpace(ConfirmationMessage)
    && !string.IsNullOrWhiteSpace(ConfirmationTypePrompt))
{
    <ModalMenu Identifier="@PopupId" disabled="@Disabled"
        WidthClass="w-2/6" HeightClass="h-4/12">
        <Element>
            <FormButton ButtonType="ButtonType" Disabled="Disabled">
                @ChildContent
            </FormButton>
        </Element>
        <Popup>
            <EditForm Model="this" class="p-2 flex flex-col gap-2 text-black dark:text-white">
                <p>Type <strong>@ConfirmationTypePrompt</strong> to confirm.</p>
                <TextInput @bind-Value="_typePromptValue" />
                <button class="@ConfirmButtonCss @disabledCss" disabled="@Disabled"
                        @onclick="OnClickPromptInternalAsync">
                    @ConfirmationMessage
                </button>
            </EditForm>
        </Popup>
    </ModalMenu>
}
else
{
    <span>Invalid configuration detected.</span>
}