﻿@inherits TreeBase

@if (Indent <= 0)
{
    <div class="flex flex-col">
        <CascadingValue Name="TreeViewIndent" Value="Indent + 1" TValue="int">
            <TreeNode ChildNodes="ChildNodes" Element="Element" RenderChild="RenderChild" />
        </CascadingValue>
    </div>
}
else
{
    <CascadingValue Name="TreeViewIndent" Value="Indent + 1" TValue="int">
        <TreeNode ChildNodes="ChildNodes" Element="Element" RenderChild="RenderChild" />
    </CascadingValue>
}