﻿@inherits TreeBase

<div class="w-100 flex-none flex items-center">
    @for (int i = 0; i < Indent; i++)
    {
        <span class="px-2"></span>
    }

    @Element
</div>
@if (RenderChild)
{
    <div class="flex flex-col flex-none">
        @ChildNodes
    </div>
}
